body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  text-align: center;
}

.user,
#task-form,
.tasks {
  text-align: center;
  margin-bottom: 20px;
}

#task-form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-task {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
}

.tasks ul {
  list-style: none;
  padding: 0;
}

.task {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

body.dark-mode {
  background-color: #333;
  color: white;
}

body.dark-mode .task {
  background-color: #444;
  border-color: #555;
}

.progress-bar {
  text-align: center;
  margin-bottom: 20px;
}

#theme-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
}

#theme-btn:hover {
  background-color: #0056b3;
}
